Spec/old/_TargetSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="target" type="Target" />
  <xs:complexType name="Target">
    <xs:sequence>
      <xs:element name="dependency" type="Dependency" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="metadata" type="Metadata" minOccurs="0" maxOccurs="1" />
      <xs:element name="group" type="Group" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="file" type="File" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="event" type="Event" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="link" type="Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dependency">
    <xs:sequence>
      <xs:element name="file" type="File" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" />
    <xs:attribute name="legacy" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="Metadata">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="authorVersion" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="publisher" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="File">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="location" type="xs:string" />
    <xs:attribute name="extension" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
    <xs:attribute name="action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element name="group" type="Group" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="file" type="File" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="path" type="xs:string" default="" />
  </xs:complexType>
  <xs:complexType name="Event">
    <xs:choice>
      <xs:element name="script" type="Script" />
      <xs:element name="command" type="Command" />
    </xs:choice>
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="condition" type="xs:string" />
    <xs:attribute name="priority" type="xs:integer" />
  </xs:complexType>
  <xs:complexType name="Link">
    <xs:attribute name="output" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Script" >
    <xs:simpleContent>
      <xs:extension base="xs:string" >
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="class" type="xs:string" />
        <xs:attribute name="language" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Command">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="executable" type="xs:string" use="required" />
    <xs:attribute name="parameters" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>