Scripting/TargetSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="target" type="Target" />
  <xs:complexType name="Target">
    <xs:sequence>
      <xs:element name="dependency" type="Dependency" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="group" type="Group" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="file" type="File" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="event" type="Event" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="link" type="Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dependency">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="File">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element name="group" type="Group" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="file" type="File" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="path" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Event">
    <xs:choice>
      <xs:element name="script" type="Script" />
      <xs:element name="command" type="Command" />
    </xs:choice>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="condition" type="xs:string" />
    <xs:attribute name="priority" type="xs:integer" />
  </xs:complexType>
  <xs:complexType name="Link">
    <xs:attribute name="output" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Script" >
    <xs:simpleContent>
      <xs:extension base="xs:string" >
        <xs:attribute name="id" type="xs:string" />
        <xs:attribute name="class" type="xs:string" />
        <xs:attribute name="language" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Command">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="executable" type="xs:string" use="required" />
    <xs:attribute name="parameters" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>